*,
*::after
*::before{
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
cursor: pointer;
padding: 0;
border: none;
font: inherit;
color: inherit;
background-color: transparent;
cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.main .items_box {
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 0 35px 0;
}
.box_light {
    position: relative;
    z-index: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.box_light:before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 100%;
    height: 4px;
    background-color: #ff005a;
    z-index: -1;
}
*, ::after, ::before {
    box-sizing: inherit;
}
.box_light:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(255, 0, 90, 0.2) 0%, rgba(255, 0, 90, 0) 100%);
    width: 100%;
    height: 50px;
    z-index: -1;
}
