:root{
    --primary: #89afdd;
    --accent: #D7CCC8;
    --text: #333333;
    --bg-color: #FAFAFA;
}


header{
    background-color: var(--primary);
    color: var(--accent);
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
}


.header__logo {
    font-size: 24px;
    color: #333333;
     background: #8baaad;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}


.header__nav {
}

.open-btn{
    display: none;
}

.mobile-menu{
    display: none;
}

.header__list {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.header__item:hover,
.header__item:focus{
    color: #a7a7a7;
}

.header__item_link {
}

.header__item__link {
}


.hero {
    background-image: url(/img/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.hero__title {
    text-align: center;
    font-size: 50px;
    color: var(--bg-color);
}


.hero__subtitle {
    text-align: center;
    font-size: 24px;
    color: var(--bg-color);
}


.hero__btn {
    width: 210px;
    font-size: 18px;
    color: var(--text);
    background-color: var(--accent);
    padding: 15px 15px;
}

.hero__btn:hover,
.hero__btn:focus{
    background-color: #ffefef;
}


.about-us {
    padding: 20px 15px;
}

.about-us__title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.about-us__text {
    text-align: center;
    font-size: 16px;
    color: var(--text);
}


.footer__text {
    padding: 15px 15px;
    background-color: var(--primary);
    text-align: center;
    color: var(--accent);
}


@media screen and (max-width: 574px) {
    .mobile-deckrop{
        display: none
    }

    .open-btn{
        display: block;
    }

    .mobile-menu{
        display: none;
    }
}